.DS_Store

/Config/database.php

/tmp/cache/models/cake_*
/tmp/cache/persistent/cake_*
/tmp/cache/views/cake_*
/tmp/cache/models/bancha_*
/tmp/cache/persistent/bancha_*
/tmp/cache/views/bancha_*
/tmp/logs/*.log