/**
 * Blog App - A Bancha Sample Project
 *
 * This App demonstrated how to develop applications using Ext Deisgner and Bancha.
 *
 *
 * Bancha Sample Project
 * Copyright 2011-2012 Roland Schuetz
 *
 * @package       BanchaSampleProject
 * @subpackage    ExtJS.App
 * @copyright     Copyright 2011-2014 Roland Schuetz
 * @link          http://banchaproject.org Bancha Project
 * @author        Roland Schuetz <mail@rolandschuetz.at>
 * @since         v 1.1
 */

.comment {
    border-bottom: 1px solid #B5B8C8;
    padding: 5px 0;
}
.comment:last-child {
	border-bottom: 0;
}
.comment-meta {
    display: block;
    font-size: 80%;
    color: #B5B8C8;
    margin: 4px 0 1px 0;
}
.comments-form {
    border-width: 0;
}
